<div class="row">

    <div class="col-md-2 col-sm-2">
        <a href="#">
          <img class="img-responsive" src="{{artwork_url}}" alt="{{title}}">
        </a>
    </div>

    <div class="col-md-5 col-sm-5">
        <h3>{{title}}</h3>
        {{#if tag_list}}
          <p>{{{tag_list}}}</p>
        {{/if}}
        <p class="minimize">{{description_short}}</p>
        <a class="btn btn-primary" href="{{permalink_rul}}"> View on soundcloud
          <i class="fa fa-angle-right"></i>
        </a>
        {{#if downloadable}}
        <a class="btn btn-danger" href="{{downloadableUrl}}" download> Download
          <i class="fa fa-angle-right"></i>
        </a>
        {{/if}}
    </div>

</div>
