<div class="nz-div">
    <a class="nz-bg nz-block"></a>

    <div>
        {{#if downloadable}}
        <div class="nz-button">
            <a href="{{downloadableUrl}}" download class="btn btn-primary btn-mini" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true"><i class="fa fa-download"></i> Download</a>
        </div>
        {{/if}}

        <a title="{{title}}" href="{{parmalink_url}}" class="nz-avatarLink">
            <img alt="{{title}}" src="{{artwork_url}}" class="nz-avatarImg">
        </a>

        <div class="nz-divUser">
            <p>{{title}}</p>
        </div>

        <div class="nz-divStats">
            <ul class="nz-Arrange">
                <li class="nz-ArrangeSizeFit">
                    <a href="#" title="{{likes_count}} likes">
                        <span class="nz-StatLabel nz-block">Likes</span>
                        <span class="nz-StatValue">{{likes_count}}</span>
                    </a>
                </li>
                <li class="nz-ArrangeSizeFit">
                    <a href="#" title="{{commnent_count}} comments">
                        <span class="nz-StatLabel nz-block">Comments</span>
                        <span class="nz-StatValue">{{comment_count}}</span>
                    </a>
                </li>
                <li class="nz-ArrangeSizeFit">
                    <a href="#" title="{{reposts_count}} reposts">
                        <span class="nz-StatLabel nz-block">Reposts</span>
                        <span class="nz-StatValue">{{reposts_count}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
