<td class="embed"></td>
<td class="number text-center"><h3>{{likes_count}}</h3></td>
<!-- <td class="number text-center"><h3>{{playback_count}}</h3></td> -->
<td class="text-center">{{genre}}</td>
<td class="text-center">
  <img src="{{artwork_url}}">
</td>
<td class="text-center">
  {{#if downloadable}}
    <a href="{{download_url}}" target="_blank" class="download" download>
      <i class="fa fa-download"></i> Download</a>
  {{/if}}
</td>
