<div class="artwork">
  <img src="{{artwork_url}}" />
</div>
<div class="info">
    <h3>{{title}}</h3>
    <p></p>
    <p>{{description_short}}..</p>
    <div class="social">
        <span class="fa fa-heart"> {{likes_count}} likes</span>
        <span class="fa fa-comment"> {{comment_count}} comments</span>
        <span class="fa fa-share"> {{reposts_count}} reposts</span>
        {{#if downloadable}}
            <a class="download" href="{{downloadableUrl}}"><span class="fa fa-download"> Download</span></a>
        {{/if}}
    </div>
</div>
